{% extends "home/base.html" %}
{% load static %}

{% block content %}
<div class="bg-image bg-image-top" style="background-image: url('/static/home/img/contact-banner.jpg'); background-size: cover;">
    <div class="container-fluid background-container-bottom background-container">
    <div class="container d-flex align-items-center" style="height: 40vh;">
        <div class="row">
            <div class="col">
                <h1 class="fade-in-text">Contact Me<span style="color: var(--color-accent); font-family: 'Style Script', cursive;">.</span></h1>
                <p>
                    Email: <a href="mailto:eduardogallifao@gmail.com">eduardogallifao@gmail.com</a><br>
                    WhatsApp: <a href="https://wa.me/528331210691">+52 833 121 0691</a><br>
                    GitHub: <a href="https://github.com/eduardogallifaochoa">eduardogallifaochoa</a>
                </p>
            </div>
        </div>
    </div>
    </div>
</div>

<div class="container content-container w-75">
    <form method="POST">
        <div class="form-group">
            {% csrf_token %}
            <label class="form-label pt-4 pb-1" for="id_topic">How can I help you?</label>
            {{form.topic}}
            <label class="form-label pt-4 pb-1" for="id_message">Describe your project</label>
            {{form.message}}
            <label class="form-label pt-4 pb-1" for="id_name">Your name</label>
            {{form.name}}
            <label class="form-label pt-4 pb-1" for="id_email">Your E-mail</label>
            {{form.email}}
            <button class="btn btn-primary w-100 mt-4" type="submit">Contact Me <i class="fas fa-arrow-right"></i></button>
        </div>
    </form>
</div>
{% endblock %}
